$font-stack: "Raleway", sans-serif;
$primary-color: rgba(170, 170, 170, 0.6);
$secondary-color: rgba(224, 224, 224, 0.4);
$padding-standard: 15px;
$border-radius-standard: 5px;
$border-standard: 3px solid #aaaaaa;

/* Design and Media Queries for App Container */
.main-container {
  background-color: $primary-color;
  font-family: $font-stack;
  text-align: center;
}

/* Design Elements for Navbar */
.main-nav {
  background-color: rgba(183, 172, 153, 0.6);
  border-left: 12px solid rgba(42,119,143, 0.6);
  font-family: $font-stack;
  position: fixed; 
  margin-left: -15px; 
  opacity: 1; 
  padding: $padding-standard;
  text-align: left;
  top: 0; 
  width: 100vw; 
  z-index: 1; 

  .nav-links {
    padding: 8px;
    font-family: $font-stack;
    font-size: 12px;
  }
}

.main-nav:hover .logo {
  background-color: rgba(196,219,215, 0.7); 
  -webkit-transition: 0.25s ease-in-out; 
  transition: 0.25s ease-in-out; 
}

.logo {
  background-color: rgba(175,202,148, 0.6);
  border-radius: 360px;
  float: left;
  height: 60px;
  padding: 10px;
  width: 60px;
}



/* Design elements for Table */
h3 {
  font-weight: bold;
  margin-top: 110px; 
  text-align: left; 
}
