$font-stack: "Raleway", sans-serif;
$primary-color: rgba(170, 170, 170, 0.6);
$secondary-color: rgba(224, 224, 224, 0.4);
$padding-standard: 15px;
$border-radius-standard: 5px;
$border-standard: 3px solid #aaaaaa;

/* Design and Media Queries for App Container */
.main-container {
  background-color: $primary-color;
  font-family: $font-stack; 
  text-align: center;

  .main-content {
    padding-top: 120px 
  }
}

/* Design Elements for Navbar */
.main-nav {
  background-image: -webkit-linear-gradient(109deg, rgba(238,238,238, 0.8) 89%, rgba(102,106,110, 0.8) 11%);
  font-family: $font-stack;
  position: fixed; 
  margin-left: -15px; 
  opacity: 1; 
  padding: $padding-standard;
  text-align: left;
  top: 0; 
  width: 100vw; 
  z-index: 1; 

  .nav-links {
    padding: 8px;
    font-family: $font-stack;
    font-size: 12px;
  }
}

.logo {
  background-color: rgba(196,219,215, 0.9); 
  border-radius: 360px;
  float: left;
  height: 50px;
  padding: 10px;
  width: 50px;
}


/* Design elements for Standings Table */
h3 {
  font-weight: bold;
  text-align: left; 
}

.table-row {
  font-size: 10px; 
  background-color: $primary-color; 
}

.table-row-view {
  font-size: 13px; 

  :hover {
    cursor: pointer; 
    -webkit-transition: 0.2s ease-in-out; 
    transition: 0.2s ease-in-out; 
  }

  .logoStyle {
    width: 30px; 
  }
}

.league-switch {
  display: block; 
  margin: auto; 

  :hover {
    cursor: pointer; 
  }

  .league-logo, .league-logo-bl {
    display: block;  
    margin: auto; 
    padding: 25px; 
    height: 80px; 
    width: 80px;   
  }
}

/* Design Elements for Match Cards */
.match-table {
  padding-top: 110px; 
  height: 100vh; 
}

.card-view {
  border: $border-standard; 
  border-radius: $border-radius-standard; 
  font-size: 12px; 
  height: 295px; 
  overflow: hidden; 
}