$font-stack: 'Raleway', sans-serif;
$primary-color: rgba(170,170,170, 0.6); 
$secondary-color: rgba(224,224,224, 0.4); 
$padding-standard: 15px; 
$border-radius-standard: 5px; 
$border-standard: 3px solid #aaaaaa; 

/* Design and Media Queries for App Container */
.main-container { 
    background-color: $primary-color; 
    font-family: $font-stack; 
    text-align: center; 
}

/* Design Elements for Navbar */
.main-nav { 
    background-color: rgba(183,172,153, 0.6); 
    border-bottom: 5px solid #2a778f; 
    border-radius: $border-radius-standard; 
    font-family: $font-stack; 
    margin-bottom: 10px; 
    padding: $padding-standard; 
    text-align: left; 
}

.logo {
    border-radius: 15px; 
    height: 75px; 
    float: left; 
    width: 75px; 
}

.logo-title {
    padding: 15px; 
}

.nav-links {
    padding: 5px; 
    font-family: $font-stack; 
}